<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>  
  <!-- 
     节点顺序必须符合要求
     properties
     settings
     typAliases
     typeHandlers
     objectFactory
     objectWrapperFactory
     plugins
     environments
     databaseIdProvider
     mappers
   -->  
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="false"/>
    <setting name="aggressiveLazyLoading" value="true"/>
    <setting name="logImpl" value="LOG4J"/>
  </settings>
  <typeAliases>
    <typeAlias alias="sqlAdapter" type="com.yxkong.common.dao.SQLAdapter"/>
    <typeAlias type="com.yxkong.system.model.BaseRelatedResource" alias="BaseRelatedResource"/>
    <typeAlias type="com.yxkong.system.model.BaseRelatedUser" alias="BaseRelatedUser"/>
    <typeAlias type="com.yxkong.system.model.BaseResource" alias="BaseResource"/>
    <typeAlias type="com.yxkong.system.model.BaseRole" alias="BaseRole"/>
    <typeAlias type="com.yxkong.system.model.BaseUser" alias="BaseUser"/>
    <typeAlias type="com.yxkong.system.model.FileInfo" alias="FileInfo"/>
    <typeAlias type="com.yxkong.system.model.Region" alias="Region"/>
    <!-- vo别名 -->
    <typeAlias type="com.yxkong.common.web.vo.ZTree" alias="ZTree"/>
  </typeAliases>
  <plugins>
    <plugin interceptor="com.yxkong.common.page.PageHelper">
         <!-- 使用时必须指定该属性，可选值为`oracle`,`mysql`,`hsqldb`,<b>没有默认值，必须指定该属性</b>。   -->
          <property name="dialect" value="mysql"/>
       <!-- 该参数默认为false -->
       <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
       <!-- 和startPage中的pageNum效果一样-->
       <property name="offsetAsPageNum" value="true"/>
       <!-- 该参数默认为false -->
       <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
       <property name="rowBoundsWithCount" value="true"/>
    </plugin>
  </plugins>
</configuration>