<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxkong.system.model.FileInfo">
  <resultMap type="com.yxkong.system.model.FileInfo" id="fileinfoResultMap">
     <result column="id" property="id" jdbcType="VARCHAR" />
     <result column="creator" property="creator" jdbcType="VARCHAR" />
     <result column="updator" property="updator" jdbcType="VARCHAR"/>
     <result column="created" property="created" jdbcType="TIMESTAMP" />
     <result column="updated" property="updated" jdbcType="TIMESTAMP" />
     <result column="sort" property="sort" jdbcType="INTEGER"/>
     <result column="remark" property="remark" jdbcType="VARCHAR"/>
     <result column="status" property="status" jdbcType="INTEGER"/>
     <result column="delStatue" property="delStatue" jdbcType="INTEGER"/>
     
     <result column="dataId" property="dataId" jdbcType="VARCHAR"/>
     <result column="fileName" property="fileName" jdbcType="VARCHAR"/>
     <result column="name" property="name" jdbcType="VARCHAR"/>
     <result column="url" property="url" jdbcType="VARCHAR"/>
  </resultMap>
  <!-- 表名 -->
  <sql id="tableNameSql">
	F_FILEINFO 
  </sql>

	<!-- 用于select查询、insert的公用抽取的列 -->
	<sql id="commonSelectColumnsPrefix">
        	id ,
        	dataId,
        	fileName,
        	name,
        	url,
        	creator,
        	updator,
        	created,
        	updated,
        	sort,
        	remark,
        	status,
        	delStatue
	</sql>

	<!-- 按主键查找条件语句 -->
	<sql id="conditionOnlyId">
		id = #{id}
	</sql>
	
	<sql id="mainSql">
		SELECT
			<include refid="commonSelectColumnsPrefix"/>
		FROM
			<include refid="tableNameSql"/> f
	</sql>
	<sql id="varSql">
		<where>
			<if test="dataId!=null and dataId!=''">and f.dataId=#{dataId} </if>
			<if test="fileName!=null and fileName!=''">and f.fileName like #{fileName} </if>
			<if test="name!=null and name!=''">and f.name like #{name} </if>
			<if test="delStatue!=null ">and f.delStatue=#{delStatue} </if>
			<if test="creator!=null and creator!=''">and f.creator=#{creator} </if>
		</where>
	</sql>
	<select id="findPageBy" parameterType="java.util.Map" resultMap="fileinfoResultMap">
 		<include refid="mainSql"/>
 		<include refid="varSql"/>
		<if test="SORT != null and SORT != ''">
 			order by ${SORT}
 			<if test="DIR != null and DIR != ''">
 				 ${DIR}
 			</if>
 		</if>
	</select>
	<select id="findById" parameterType="String" resultMap="fileinfoResultMap">
		<include refid="mainSql"/>
		where <include refid="conditionOnlyId"/>
	</select>
	<select id="findCountBy" parameterType="java.util.Map" resultType="INTEGER">
		SELECT
			COUNT(*) AS C
		FROM
			<include refid="tableNameSql"/> f
		<include refid="varSql"/>
	</select>
	<select id="findListBy" parameterType="java.util.Map" resultMap="fileinfoResultMap">
		<include refid="mainSql"/>
		<include refid="varSql"/>
	</select>
	<insert id="save" parameterType="com.yxkong.system.model.FileInfo">
		insert into
			<include refid="tableNameSql"/>
		(
			<include refid="commonSelectColumnsPrefix"/>
		)
		values
		(	
			#{id, jdbcType=VARCHAR} ,
			#{dataId, jdbcType=VARCHAR} ,
			#{fileName, jdbcType=VARCHAR} ,
			#{name, jdbcType=VARCHAR} ,
			#{url, jdbcType=VARCHAR} ,
			#{creator, jdbcType=VARCHAR} ,
			#{updator, jdbcType=VARCHAR} ,
			#{created, jdbcType=TIMESTAMP} ,
			#{updated, jdbcType=TIMESTAMP} ,
			#{sort, jdbcType=INTEGER} ,
			#{remark, jdbcType=VARCHAR} ,
			#{status, jdbcType=INTEGER} ,
			#{delStatue, jdbcType=INTEGER} 
		)
	</insert>

	<update id="update" parameterType="com.yxkong.system.model.FileInfo">
		update
			<include refid="tableNameSql"/>
		set
			<if test="dataId!=null and dataId!=''">dataId=#{dataId, jdbcType=VARCHAR} ,</if>
			<if test="fileName!=null and fileName!=''">fileName=#{fileName, jdbcType=VARCHAR} ,</if>
			<if test="name!=null and name!=''">name=#{name, jdbcType=VARCHAR} ,</if>
			<if test="url!=null and url!=''">url=#{url, jdbcType=VARCHAR} ,</if>
			<if test="updator!=null and updator!=''">updator=#{updator, jdbcType=VARCHAR} ,</if>
			<if test="updated!=null">updated=#{updated, jdbcType=TIMESTAMP} ,</if>
			<if test="sort!=null">sort=#{sort, jdbcType=INTEGER} ,</if>
			<if test="remark!=null and remark!=''">remark=#{remark, jdbcType=VARCHAR} ,</if>
			<if test="status!=null">status=#{status, jdbcType=INTEGER} ,</if>
			delStatue=#{delStatue, jdbcType=INTEGER} 
		where <include refid="conditionOnlyId"/>
	</update>
	<delete id="deleteByIds">
		delete from <include refid="tableNameSql"/> 
		 where id in <foreach index="index" item="item" collection="array" separator="," open="(" close=")" >#{item}</foreach>
	</delete>

	<delete id="deleteById" parameterType="Object">
		delete from <include refid="tableNameSql"/> where <include refid="conditionOnlyId"/>
	</delete>
</mapper>